@import "tailwindcss";

/* Add these styles to hide the scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4B5563;
    /* Changed to a medium gray */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6B7280;
    /* Slightly lighter gray on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #4B5563 transparent;
}